@charset "utf-8";
@font-face {
  font-family: spoka_R;
  src: url(../webfont/SpoqaHanSansNeo-Regular.woff) format("woff");
}
@font-face {
  font-family: spoka_B;
  src: url(../webfont/SpoqaHanSansNeo-Bold.woff) format("woff");
}
@font-face {
  font-family: Sometimes;
  src: url(../webfont/Sometimes\ Times.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2d2d2d;
}
body {
  font-family: spoka_r;
  font-size: 15px;
  line-height: 1.7em;
}
header {
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
  font-family: spoka_B;
  background-color: #fff;
  position: fixed;
  z-index: 50;
  .topmenu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .top_left {
      width: 53px;
      height: 60px;
      vertical-align: center;
      img {
        vertical-align: middle;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      ul {
        width: 100%;
        margin-left: 5%;
        display: flex;
        li {
          margin-right: 4%;
        }
        a:hover {
          font-weight: 900;
          color: #ce0e2d;
        }
      }
    }
    .menu {
      #side {
        display: none;
        top: 80px;
        width: 200px;
        height: 200px;
        background: #ccc;
        position: absolute;

        ul.navmenu {
          margin-left: 30px;
          line-height: 1.8em;
          .navtitle {
            margin-top: 30px;
            ul.nlist {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
/* 1. 인사말 영역*/
section.sec1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  p.firstsaying {
    width: 100%;
    font-family: Sometimes;
    font-weight: 900;
    font-size: 36px;
    margin-left: 50%;
    margin-bottom: 90px;
    padding: 90px;
  }
  p:nth-child(2) {
    margin-top: 150px;
    width: 65%;
  }
}
.img01 {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 450px;
  background: url(../image/topslide_01.png) center/cover;
  margin-top: 100px;
}
/* 2. KangSeonga 소개 영역*/
section.sec2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 250px;
  p.firstsaying {
    width: 100%;
    font-family: Sometimes;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 90px;
  }
  .sec2wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .myself {
      width: 30%;
      line-height: 1.8em;
    }
    .img02 {
      width: 475px;
      height: 600px;
    }
  }
}
/* 3. 로고 및 상징 이미지 영역 */
section.sec3 {
  margin-top: 250px;
  background: url(../image/logoimg.png) center/cover fixed;

  /*배경 사진*/
  .symbolbg {
    position: relative;
    width: 100%;
    height: 100vh;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* 로고 이미지 */
    .innerlogo {
      position: absolute;
      width: 140px;
      height: 159px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
/* 4. PORTFOLIO 영역 */
section.sec4 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 300px;
  .subt {
    font-family: Sometimes;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 90px;
  }
  .slide {
    width: 100%;
    margin: 0 auto;
    height: 360px;
    // border: 1px solid #000;
    .item {
      width: 100%;
      height: 360px;
      object-fit: cover;
      margin: 0 auto;
      cursor: pointer;
      .imgbox {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
      }
      .title {
        font-family: spoka_R;
        display: inline-block;
        position: absolute;
        width: 282px;
        text-indent: 1.2em;
        bottom: 0;
        height: 60px;
        line-height: 60px;
        background-image: linear-gradient(
          rgba(32, 32, 32, 0),
          rgba(32, 32, 32, 0.5)
        );
        color: #fff;
      }
    }
  }
  .owl-prev span {
    position: absolute;
    display: block;
    text-indent: -9999px;
    width: 21px;
    height: 39px;
    top: 170px;
    left: 30px;
    background: url(../../images/btns.png);
    background-position: -6px -4px;
  }
  .owl-next span {
    position: absolute;
    display: block;
    text-indent: -9999px;
    width: 21px;
    height: 39px;
    top: 170px;
    right: 30px;
    background: url(../../images/btns.png);
    background-position: -29px -4px;
  }
}
#modal {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*모달창 들어가는 내용*/
  .modal_content {
    width: 100%;
    height: 6100px;
    background-color: #2d2d2d;
    margin-bottom: 50px;
    z-index: 70;
    .modalpage {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      top: 250px;
      z-index: 80;
      margin-top: 400px;
      margin-bottom: 200px;
      /*노루페인트 홈페이지 설명*/
    .modal1{
      position: relative;
      width: 1200px;
      margin: 0 auto;
      margin-top: 300px;
      display: flex;    
      .moright{
        margin-left: 100px;
        margin-bottom: 200px;
      h2 {
        position: relative;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 50px;
      }
      p {
        line-height: 1.9em;
        font-family: spoka_R;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 50px;
      }
    h3{
      color: #fff;
      margin-bottom: 20px;
    }
    ul{display: flex;
      li{
        border: 1px solid #fff;
        margin-right:20px;
        margin-bottom: 50px;
        a{
          color: #fff;
          padding: 8px 15px;
       }}
      }
    }
    h3{margin-bottom: 20px;}
  }
  /*스타일시트 소개*/
  .modal2{display: inline-block;
    position: relative;
    margin-top: 500px;
    width: 1200px;
    margin: 0 auto; }
  /*인덱스페이지 설명*/
  .modal3{
    margin-top: 250px;
  display: flex;
  .sub1title{
    color: #fff;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 20px;}
  .m3sub{
    margin-left: 100px;
    color: #fff;
    margin-top: 40px;
  .header{margin-bottom:50px;}
  .slide{margin-bottom:140px}
  .section2{margin-bottom: 90px;}
  .sub4{display: flex;
        margin-bottom: 15px; 
    div{
      width: 130px;
      height: 160px;
      background-image: url(../image/b1.jpg);
      object-fit: cover;
      background-repeat: no-repeat;
      justify-content: space-between;
      margin-right: 20px;
      border-radius: 5px;}
      }
  .section5{
    margin-bottom: 55px;
  }
}
}
/*subpage no1~2 설명*/
.modal4{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 250px;
  .sub_group1{
    .sub1title{
      color: #fff;
      font-size: 17px;
      font-style: italic;
      margin-bottom: 20px;}
    display: flex;
    .subinfo_01_1{
      justify-content: space-between;
      .slide01{
        margin-top: 70px;
        width: 150px;
        color: #fff;
        margin-left: 30px;
        margin-right: 40px;}
      .company_p{
        margin-top: 100px;
        width: 150px;
        color: #fff;
        margin-left: 30px;
        margin-right: 40px;}
      }
    }
  .sub_group2{
    display: flex;
    .subinfo_01_2{
      justify-content: space-between;
      .slide02{margin-top: 70px;
        color: #fff;
        width: 150px;
        margin-right: 30px;
        margin-left: 40px;
      }
      .cago_p{margin-top: 480px;
        color: #fff;
        width: 150px;
        margin-right: 30px;
        margin-left: 40px;
      }
        }  
      .sub1title{
        color: #fff;
        font-size: 17px;
        font-style: italic;
        margin-bottom: 20px;}
      .cagoimg{
        margin-top:100px;
        width: 300px;}
    }
  }
  /*R&D 설명*/
  .modal5{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 250px;
    margin-bottom: 300px;
    .sub_group3_1{
      .sub1title{
        color: #fff;
        font-size: 17px;
        font-style: italic;
        margin-bottom: 20px;}
      display: flex;
      .subinfo_01_1{
        justify-content: space-between;
        .info3_1{
          margin-top: 70px;
          width: 150px;
          color: #fff;
          margin-left: 30px;
          margin-right: 40px;}
        .company_p{
          margin-top: 100px;
          width: 150px;
          color: #fff;
          margin-left: 30px;
          margin-right: 40px;}
        }
      }
    .sub_group3_2{
      display: flex;
      .info_03_2{
        justify-content: space-between;
       }  
       .info3_2{
        margin-top: 70px;
        color: #fff;
        width: 150px;
        margin-right: 30px;
        margin-left: 40px;
      }
        .sub3title{
          color: #fff;
          font-size: 17px;
          font-style: italic;
          margin-bottom: 20px;}
      }
    }
    /*sub esg경영 및 투자정보*/
    .modal6{
      position: relative;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      margin-top: 250px;
      margin-bottom: 300px;
      .sub_group4_1{
        .sub4title{
          color: #fff;
          font-size: 17px;
          font-style: italic;
          margin-bottom: 20px;}
        display: flex;
        .subinfo_04_1{
          justify-content: space-between;
          .info4_1{
            margin-top: 70px;
            width: 150px;
            color: #fff;
            margin-left: 30px;
            margin-right: 40px;}
          }
        }
      .sub_group4_2{
        display: flex;
        .info_04_2{
          justify-content: space-between;
         }  
         .info4_2{
          margin-top: 70px;
          color: #fff;
          width: 150px;
          margin-right: 30px;
          margin-left: 40px;
        }
          .sub4title{
            color: #fff;
            font-size: 17px;
            font-style: italic;
            margin-bottom: 20px;}
        }
      }
    
    .modal_close_btn{
    margin-left: 300px;
    p{color: #fff;}
     }
    } 
  }
}
#modal2 {
  // display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*모달창 들어가는 내용*/
  .modal_content {
    width: 100%;
    height: 4500px;
    background-color: #2d2d2d;
    margin-bottom: 50px;
    z-index: 70;
    .modalpage {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      top: 250px;
      z-index: 80;
      margin-top: 400px;
      margin-bottom: 200px;
      /*노루페인트 홈페이지 설명*/
    .modal1{
      position: relative;
      width: 1200px;
      margin: 0 auto;
      margin-top: 300px;
      display: flex;    
      .moright{
        margin-left: 100px;
        margin-bottom: 200px;
      h2 {
        position: relative;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 50px;
      }
      p {
        line-height: 1.9em;
        font-family: spoka_R;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 50px;
      }
    h3{
      color: #fff;
      margin-bottom: 20px;
    }
    ul{display: flex;
      li{
        border: 1px solid #fff;
        margin-right:20px;
        margin-bottom: 50px;
        a{
          color: #fff;
          padding: 8px 15px;
       }}
      }
    }
    h3{margin-bottom: 20px;}
  }
  /*스타일시트 소개*/
  .modal2{display: inline-block;
    position: relative;
    margin-top: 500px;
    width: 1200px;
    margin: 0 auto; }
  /*인덱스페이지 설명*/
  .modal3{
    margin-top: 250px;
  display: flex;
  .sub1title{
    color: #fff;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 20px;}
  .m3sub{
    margin-left: 100px;
    color: #fff;
    margin-top: 40px;
  .header{margin-bottom:50px;}
  .slide{margin-bottom:140px}
  .section2{margin-bottom: 90px;}
  .sub4{display: flex;
        margin-bottom: 15px; 
    div{
      width: 130px;
      height: 160px;
      background-image: url(../image/b1.jpg);
      object-fit: cover;
      background-repeat: no-repeat;
      justify-content: space-between;
      margin-right: 20px;
      border-radius: 5px;}
      }
  .section5{
    margin-bottom: 55px;
  }
}
}
/*subpage no1~2 설명*/
.modal4{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 250px;
  .sub_group1{
    .sub1title{
      color: #fff;
      font-size: 17px;
      font-style: italic;
      margin-bottom: 20px;}
    display: flex;
    .subinfo_01_1{
      justify-content: space-between;
      .slide01{
        margin-top: 70px;
        width: 150px;
        color: #fff;
        margin-left: 30px;
        margin-right: 40px;}
      .company_p{
        margin-top: 100px;
        width: 150px;
        color: #fff;
        margin-left: 30px;
        margin-right: 40px;}
      }
    }
  .sub_group2{
    display: flex;
    .subinfo_01_2{
      justify-content: space-between;
      .slide02{margin-top: 70px;
        color: #fff;
        width: 150px;
        margin-right: 30px;
        margin-left: 40px;
      }
      .cago_p{margin-top: 480px;
        color: #fff;
        width: 150px;
        margin-right: 30px;
        margin-left: 40px;
      }
        }  
      .sub1title{
        color: #fff;
        font-size: 17px;
        font-style: italic;
        margin-bottom: 20px;}
      .cagoimg{
        margin-top:100px;
        width: 300px;}
    }
  }

    .modal_close_btn2{
    margin-left: 300px;
    p{color: #fff;}
     }
    } 
  }
}
/*모달창 띄울때 깔리는 배경*/
/*.modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}*/

/*6. CONTACT ME*/
section.sec5 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 530px;
  margin-top: 200px;
  div.sec5wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    div.img03 {
      width: 650px;
      height: 530px;
      background-image: url(../image/contact.png);
      object-fit: cover;
    }
    div.contactme {
      width: 30%;
      display: flex;
      height: 530px;
      flex-direction: column;
      justify-content: space-between;
      .over {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      p.firstsaying {
        width: 100%;
        font-family: Sometimes;
        font-weight: 900;
        font-size: 36px;
      }
      .coninfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    table {
      align-items: flex-end;
      display: block;
      position: relative;
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px;
      border-collapse: collapse;
      border-top: 2px solid #2d2d2d;
      border-bottom: 2px solid #2d2d2d;
      tr {
        font-size: 13px;
        td {
          line-height: 2em;
        }
      }
    }
  }
}


.btntop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  font-family: Sometimes;
  font-weight: 900;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  font-size: 30px;
  box-shadow: 3px 3px 3px rgb(109, 109, 109), -3px -3px 3px rgb(237, 237, 237);
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}


footer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  font-family: spoka_R;
  background-color: #2d2d2d;
  color: #fff;
  margin-top: 150px;
  .footerwrap {
    position: relative;
    vertical-align: middle;
    p {
      line-height: 1.7em;
      text-align: center;
      font-size: 12px;
    }
  }
}
