@charset "utf-8";
/*메인 상단 슬라이드*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article {
  width: 1280px;
  margin: 0 auto;
  margin-top: 150px;
}
article > h2 {
  width: 1280px;
  text-align: center;
  margin: 0 auto;
}
article > p {
  margin-top: 10px;
  width: 1280px;
  text-align: center;
}
/*베스트셀러 _구역*/
article .bestcon {
  margin-top: 40px;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.bestcon img {
  width: 260px;
  height: 300px;
  border: 1px solid rgb(215, 215, 215);
  margin-bottom: 20px;
  object-fit: cover;
}
p#ptitle {
  font-size: 18px;
  font-family: notosans;
  font-weight: 800;
  margin-bottom: 10px;
}
p#psub {
  font-family: notosans;
  font-size: 13px;
  line-height: 1.6em;
  color: rgb(124, 124, 124);
}
h3 {
  margin-top: 8px;
}

#ibtn {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
/*베스트셀러 -상품 정보, 아이콘 서식*/
#ibtn p.m {
  font-family: notosans;
  font-size: 11px;
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 75px;
}
#ibtn p.m:last-child::after {
  margin-right: none;
}
#ibtn p.new,
#ibtn p.hot {
  background: #2d2d2d;
  color: #fff;
}
/*베스트셀러 배경서식*/
.backba {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: -999;
  background: rgb(245, 245, 245);
}
/*주문제작 타올 _구역*/
.banner {
  width: 1280px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 0px;
}
.banner h2 {
  text-align: center;
  width: 1280px;
}
.banner p {
  text-align: center;
  width: 1280px;
}
.banner .special {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.banner > p {
  margin-top: 10px;
  width: 1280px;
  text-align: center;
  margin-bottom: 40px;
}
.banner .special {
  margin: 0 auto;
  width: 1280px;
}
.banner .special img {
  width: 615px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  /* border-radius: 10px; */
}

article.ourcon {
  margin-top: 136px;
  display: flex;
  width: 100%;
  height: 800px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
article.ourcon .ourwrap {
  width: 100%;
  height: 100%;
}
/*전체 콘텐츠(6개)영역: 레이아웃 */
article.ourcon .our_list {
  margin: 0 auto;
  font-size: 0;
  display: grid;
  width: 1280px;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  align-items: center;
  row-gap: 140px;
  column-gap: 140px;
  align-content: center;
}
article.ourcon .our_list li {
  width: 300px;
  height: 170px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 1.6em;
  margin: 0 auto;
}
article.ourcon .our_list li span {
  font-size: 18px;
}
/*전체 콘텐츠(6개)영역: 배경 사진 첨부이미지*/
.ourwrap.as {
  background: url(../image/janko-ferlic-eBtwD6ZG78I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 30%;
}
.ourwrap.bs {
  background: url(../image/nina-mercado-CnrDuY0tFrg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ourwrap.cs {
  background: url(../image/felix-khadri-I45B_X9lAFI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
}
.ourwrap.ds {
  background: url(../image/thirteen-j-g4P1CbTvTZU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ourwrap.es {
  background: url(../image/ourconbg_04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ourwrap.fs {
  background: url(../image/tom-briskey-y5v5taIw-j4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
}

/*전체 콘텐츠(6개)영역: 박스 안 아이콘*/
article.ourcon .our_list li:nth-child(1) {
  background-image: url(../image/ourcon1.svg);
}
article.ourcon .our_list li:nth-child(2) {
  background-image: url(../image/ourcon2.svg);
}
article.ourcon .our_list li:nth-child(3) {
  background-image: url(../image/ourcon3.svg);
}
article.ourcon .our_list li:nth-child(4) {
  background-image: url(../image/ourcon4.svg);
}
article.ourcon .our_list li:nth-child(5) {
  background-image: url(../image/ourcon5.svg);
}
article.ourcon .our_list li:nth-child(6) {
  background-image: url(../image/ourcon6.svg);
}
/*전체 콘텐츠(6개) 영역: 아이콘에 마우스 올릴때 해당 아이콘의 변경사항*/
article.ourcon .our_list li:hover {
  z-index: 50;
  width: 300px;
  height: 170px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  line-height: 1.6em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
}

footer {
  width: 100%;
  height: 120px;
  background: #2d2d2d;
  color: #fff;
}
footer .foot_bottom {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_bottom .foot {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .foot_bottom .foot ul {
  display: flex;
  font-size: 13px;
}
footer .foot_bottom .foot ul li a {
  color: #fff;
}
footer .foot_bottom .foot ul li::after {
  content: "|";
  padding: 0 10px;
  font-size: 11px;
  margin-bottom: 4px;
}
footer .foot_bottom .foot ul li:last-child::after {
  content: "";
}
footer .foot_bottom .foot p {
  font-size: 12px;
}
footer .foot_bottom img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 66px;
}
