@charset "utf-8";
/*본문*/
.swiper-slide {
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.swiper-slide > h3 {
  position: absolute;
  text-align: center;
  line-height: 200px;
  color: #fff;
  letter-spacing: 15px;
  text-shadow: #2d2d2d;
  margin: 0 auto;
  width: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.subline {
  margin-top: 30px;
  background: #d4d4d4;
  height: 1px;
  border: 0;
}
.infotab {
  margin-top: 55px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: #707070;
}
.infotab p span {
  font-weight: 600;
  color: #E25E3E;
  font-size: 18px;
}
.infotab ul {
  display: flex;
}
.infotab ul li a {
  color: #707070;
}
.infotab ul li::before {
  content: "|";
  padding: 0 10px;
}
.infotab ul li:first-child::before {
  content: "";
}

/*탭메뉴 부분*/
.wrap {
  margin-top: 40px;
}
.tab_menu {
  position: relative;
}
.tab_menu .list {
  overflow: hidden;
}
.tab_menu ul.list {
  margin: 0 auto;
  width: 1280px;
}
.tab_menu .list li {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
.tab_menu .list li.is_on .btn {
  font-weight: 900;
  color: #2d2d2d;
}
.tab_menu .list .btn {
  font-size: 14px;
}
.tab_menu .cont_area {
  margin-top: 0px;
}
.tab_menu .cont_area .cont {
  display: none;
  background: #fff;
  text-align: center;
  width: 1280px;
  height: 200px;
  margin: 0 auto;
}
.brandstory {
  width: 1280px;
  margin-top: 90px;
  text-align: left;
  display: flex;
}
.brandstory img {
  width: 200px;
  height: 200px;
}
.brandstory .text {
  margin-left: 65px;
}
.brandstory .text p {
  margin-top: 20px;
  line-height: 1.8em;
}
/*탭메뉴컨텐츠*/

.selllist {
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}

.selllist .bestcon {
  margin-top: 40px;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, auto));
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  gap: 450px 65px; /*x행,y열*/
  text-align: center;
}
.bestcon img {
  width: 260px;
  height: 300px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  object-fit: cover;
}
p#ptitle {
  font-size: 18px;
  margin-bottom: 8px;
}
p#psub {
  font-size: 14px;
  color: rgb(124, 124, 124);
}
h3 {
  margin-top: 8px;
}
#ibtn {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#ibtn p.m {
  font-size: 11px;
  border: 1px solid #fff;
  margin-right: 5px;
  padding: 1px 6px;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  margin-bottom: 75px;
  border-radius: 4px;
}
#ibtn p.m:last-child::after {
  margin-right: 0px;
  
}
#ibtn p.new,
#ibtn p.hot {
  background: #2d2d2d;
  color: #fff;
}
#price{margin-bottom: 15px;}
.morebtn {
  position: relative;
  top: 500px;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  font-weight: 800px;
  border: 1px solid #2d2d2d;
  border-radius: 20px;
  background: #2d2d2d;
}
footer {
  margin-top: 1700px;
  width: 100%;
  height: 120px;
  background: #2d2d2d;
  color: #fff;
}
footer .foot_bottom {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_bottom .foot {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .foot_bottom .foot ul {
  display: flex;
  font-size: 13px;
}
footer .foot_bottom .foot ul li a {
  color: #fff;
}
footer .foot_bottom .foot ul li::after {
  content: "|";
  padding: 0 10px;
  font-size: 11px;
  margin-bottom: 4px;
}
footer .foot_bottom .foot ul li:last-child::after {
  content: "";
}
footer .foot_bottom .foot p {
  font-size: 12px;
}
footer .foot_bottom img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 66px;
}
