@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #bbb;
}
body {
  font-family: Arial, "맑은 고딕", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
header nav {
  width: 100%;
  background: #111111;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
header nav .top {
  width: 1600px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
header nav .top > .left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  justify-content: space-between;
  align-items: center;
}
header nav .top a:hover {
  color: #fff;
}
.top .left img {
  width: 130px;
}
.menu {
  width: 450px;
  margin: 0 auto;
  color: #999;
}
.menu ul {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  flex: 1 1 10%;
  text-align: center;
  line-height: 50px;
}
.menu ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  background: #151515;
  color: #999;
  z-index: 99;
}
.submenu .lnb .right > ul > li > a {
  position: relative;
}
.submenu .lnb .right > ul > li > a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: 0.5s;
}
.submenu .lnb .right > ul > li > a:hover::after {
  width: 100%;
}
.submenu.slide1 .lnb {
  width: 1700px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.submenu.slide1 .lnb .txt {
  width: 10%;
}
.submenu.slide1 .lnb .txt p {
  color: #fff;
  margin-bottom: 40px;
  font-size: 19px;
}
.submenu.slide1 .lnb .txt li {
  margin-bottom: 20px;
  font-weight: bold;
}
.submenu.slide1 .lnb .txt li a:hover {
  color: #fff;
}
.submenu.slide1 .lnb .txt li:nth-of-type(1) a {
  color: #fff;
}
.submenu.slide1 .lnb .desc {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  position: relative;
}
.submenu.slide1 .lnb .desc::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
}
.submenu.slide1 .lnb .desc img {
  width: 250px;
  margin-bottom: 20px;
}
.submenu.slide1 .lnb .desc .inner {
  width: 26%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 60px;
}
.submenu.slide1 .lnb .desc .box li {
  display: flex;
  margin: 5px;
}
.submenu.slide1 .lnb .desc .inner:hover {
  background: #252525;
  transition: 1s;
  border-color: #373636c3;
  color: #fff;
}
.submenu.slide1 .lnb .desc .inner .box > a {
  margin: 10px 0;
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transform: translateY(0);
  transition: 1s;
  position: relative;
  font-size: 15px;
}
.submenu.slide1 .lnb .desc .inner .box > a::after {
  content: "";
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 0ms ease-in-out 0.75s, opacity 0.75s 0ms;
  z-index: -1;
}
.submenu.slide1 .lnb .desc .inner .box > a:hover:after {
  width: 100%;
  opacity: 1;
  transition: width 0.25s ease-in-out, opacity 0ms;
}
.submenu.slide1 .lnb .desc .inner .box > a:hover {
  color: #000;
  transform-origin: left;
}
.submenu.slide1 .lnb .desc .inner .box i {
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
}
.submenu.slide1 .lnb .desc .inner .box li:first-child {
  font-size: 30px;
}
.submenu.slide1 .lnb .desc .inner .box li:nth-child(2) {
  font-size: 15px;
  margin-bottom: 20px;
}
.submenu.slide1 .lnb .desc .inner:nth-child(4) ul li:nth-child(1) {
  font-size: 15px;
}
.submenu.slide1 .lnb .desc .inner:nth-child(4) ul li:nth-child(2) {
  font-size: 30px;
}
.submenu.slide2 .lnb {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.submenu.slide2 .lnb .left {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.submenu.slide2 .lnb .left span:nth-child(1) {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.submenu.slide2 .lnb .left span:nth-child(2) {
  color: #ccc;
  font-size: 14px;
}
.submenu.slide2 .lnb .right {
  width: 80%;
  position: relative;
}
.submenu.slide2 .lnb .right::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -90px;
  top: 0;
  background: #333;
}
.submenu.slide2 .lnb .right > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.submenu.slide2 .lnb .right > ul > li {
  width: 20%;
  height: 200px;
}
.submenu.slide2 .lnb .right > ul > li > a {
  color: #fff;
  font-size: 17px;
}
.submenu.slide2 .lnb .right > ul > li > ul {
  padding: 15px 0;
}
.submenu.slide2 .lnb .right > ul > li > ul > li {
  margin: 20px 0;
  font-size: 14px;
}
.submenu.slide2 .bottom_line {
  width: 100%;
  border-top: 1px solid #333;
}
.submenu.slide2 .bottom {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.submenu.slide2 .bottom ul {
  display: flex;
  color: #fff;
}
.submenu.slide2 .bottom ul li {
  margin-right: 50px;
  line-height: 70px;
}
.submenu.slide2 .bottom ul li a {
  color: #fff;
  position: relative;
}
.submenu.slide2 .bottom ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: 0.5s;
}
.submenu.slide2 .bottom ul li a:hover::after {
  width: 93%;
}
.submenu.slide3 .lnb {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.submenu.slide3 .lnb .left {
  display: flex;
  flex-direction: column;
  width: 12%;
}
.submenu.slide3 .lnb .left span:nth-child(1) {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.submenu.slide3 .lnb .left span:nth-child(2) {
  color: #ccc;
  font-size: 14px;
}
.submenu.slide3 .lnb .right {
  width: 80%;
  position: relative;
}
.submenu.slide3 .lnb .right::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -90px;
  top: 0;
  background: #333;
}
.submenu.slide3 .lnb .right > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.submenu.slide3 .lnb .right > ul > li {
  width: 25%;
  height: 300px;
}
.submenu.slide3 .lnb .right > ul > li > a {
  color: #fff;
  font-size: 17px;
}
.submenu.slide3 .lnb .right > ul > li > ul {
  padding: 15px 0;
}
.submenu.slide3 .lnb .right > ul > li > ul > li {
  margin: 20px 0;
  font-size: 14px;
}
.submenu.slide3 .bottom_line {
  width: 100%;
  border-top: 1px solid #333;
}
.submenu.slide3 .bottom {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.submenu.slide3 .bottom ul {
  display: flex;
  color: #fff;
}
.submenu.slide3 .bottom ul li {
  margin-right: 50px;
  line-height: 70px;
}
.submenu.slide3 .bottom ul li a {
  color: #fff;
  position: relative;
}
.submenu.slide3 .bottom ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: 0.5s;
}
.submenu.slide3 .bottom ul li a:hover::after {
  width: 93%;
}
.submenu.slide4 .lnb {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.submenu.slide4 .lnb .left {
  display: flex;
  flex-direction: column;
  width: 12%;
}
.submenu.slide4 .lnb .left span:nth-child(1) {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.submenu.slide4 .lnb .left span:nth-child(2) {
  color: #ccc;
  font-size: 14px;
}
.submenu.slide4 .lnb .right {
  width: 80%;
  position: relative;
}
.submenu.slide4 .lnb .right::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -90px;
  top: 0;
  background: #333;
}
.submenu.slide4 .lnb .right > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.submenu.slide4 .lnb .right > ul > li {
  width: 25%;
  height: 450px;
}
.submenu.slide4 .lnb .right > ul > li > a {
  color: #fff;
  font-size: 17px;
}
.submenu.slide4 .lnb .right > ul > li > ul {
  padding: 15px 0;
}
.submenu.slide4 .lnb .right > ul > li > ul > li {
  margin: 20px 0;
  font-size: 14px;
}
.submenu.slide4 .bottom_line {
  width: 100%;
  border-top: 1px solid #333;
}
.submenu.slide4 .bottom {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.submenu.slide4 .bottom img {
  width: 13px;
  margin-left: 10px;
}
.submenu.slide4 .bottom ul {
  display: flex;
  color: #fff;
}
.submenu.slide4 .bottom ul li {
  margin-right: 50px;
  line-height: 70px;
}
.submenu.slide4 .bottom ul li a {
  color: #fff;
  position: relative;
}
.submenu.slide4 .bottom ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: 0.5s;
}
.submenu.slide4 .bottom ul li a:hover::after {
  width: 100%;
}
.submenu.slide5 .lnb {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.submenu.slide5 .lnb .left {
  display: flex;
  flex-direction: column;
  width: 12%;
}
.submenu.slide5 .lnb .left span:nth-child(1) {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.submenu.slide5 .lnb .left span:nth-child(2) {
  color: #ccc;
  font-size: 14px;
}
.submenu.slide5 .lnb .right {
  width: 80%;
  position: relative;
}
.submenu.slide5 .lnb .right::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -90px;
  top: 0;
  background: #333;
}
.submenu.slide5 .lnb .right > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.submenu.slide5 .lnb .right > ul > li {
  width: 20%;
  height: 450px;
}
.submenu.slide5 .lnb .right > ul > li > a {
  color: #fff;
  font-size: 17px;
}
.submenu.slide5 .lnb .right > ul > li > ul {
  padding: 15px 0;
}
.submenu.slide5 .lnb .right > ul > li > ul > li {
  margin: 20px 0;
  font-size: 14px;
}
.submenu.slide5 .bottom_line {
  width: 100%;
  border-top: 1px solid #333;
}
.submenu.slide5 .bottom {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.submenu.slide5 .bottom img {
  width: 13px;
  margin-left: 10px;
}
.submenu.slide5 .bottom ul {
  display: flex;
  color: #fff;
}
.submenu.slide5 .bottom ul li {
  margin-right: 50px;
  line-height: 70px;
}
.submenu.slide5 .bottom ul li a {
  color: #fff;
  position: relative;
}
.submenu.slide5 .bottom ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: 0.5s;
}
.submenu.slide5 .bottom ul li a:hover::after {
  width: 100%;
}
header nav .top .right {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: end;
  justify-content: space-between;
  align-items: center;
}
header nav .top .right i {
  color: #fff;
  margin-right: 40px;
}
header .menubar {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 200;
}
header .menubar p {
  position: absolute;
  right: 120px;
  top: 18px;
  transition: 0.5s;
  cursor: pointer;
  z-index: 200;
}
header .menubar p span {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  margin: 10px 0;
  transition: transform 0.5s ease-in;
}
header .bar1.on {
  transform: translate(0, 6px) rotate(45deg);
}
header .bar2.on {
  transform: translate(0, -6px) rotate(-45deg);
}
header .top .right .menubar div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  transition: height 0.5s ease-in-out;
}
header nav .top .right .menubar .box {
  height: 100px;
}
header .safe_bg {
  background: #151515;
}
header .safe {
  width: 1600px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
header .safe span {
  font-size: 16px;
}
header .safe ul {
  width: 73%;
  display: flex;
}
header .safe ul li {
  margin-right: 45px;
}
header .safe ul li:hover a {
  color: #fff;
}
header .safe ul li:nth-child(6) a {
  color: #fff;
  position: relative;
}
header .safe ul li:nth-child(6) a::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -19px;
  background: #fff;
}
header .safe span {
  font-weight: bold;
}
header .safe img {
  width: 15px;
  margin-left: 10px;
}
header .banner {
  width: 100%;
  height: 900px;
  background: url(../images/genesis_gallery_banner.jpg) center / cover;
  color: #fff;
  position: relative;
  margin-top: 130px;
  z-index: 1;
}
header .banner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: auto;
  height: 20%;
  background-image: gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(#111)
  );
  background-image: linear-gradient(to bottom, transparent, #111);
  content: "";
}
header .banner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 50%;
  background-image: gradient(
    linear,
    right top,
    left top,
    from(transparent),
    to(#111)
  );
  background-image: linear-gradient(to left, transparent, #111);
  content: "";
}
header .banner .txt {
  position: relative;
  width: 1220px;
  height: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
header .banner .txt .top {
  margin-top: 70px;
  font-size: 20px;
  font-weight: lighter;
}
header .banner .txt .top li:nth-child(2) {
  font-size: 55px;
  margin: 5px 0;
}
header .banner .txt p {
  text-align: center;
}
header .introduce {
  width: 100%;
  height: 800px;
  background: #111111;
  color: #fff;
}
header .introduce .txt {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .introduce .txt p {
  font-size: 40px;
  margin-top: 40px;
}
header .gallery {
  background: url(../images/genesis-gallery-bg.jpg) center/cover;
  width: 100%;
  height: 960px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
header .gallery .txt {
  width: 40%;
  height: 90%;
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .gallery .txt p:first-child {
  font-size: 150px;
  font-weight: lighter;
}
header .gallery .txt p:nth-child(2) {
  margin-top: 80px;
  line-height: 30px;
  position: relative;
  letter-spacing: -1px;
  margin-left: 40px;
}
header .gallery .txt p:nth-child(2)::before {
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  left: -30px;
  top: 5px;
  background: rgb(81, 81, 81);
}
header .gallery .pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
header .gallery .pic img {
  width: 800px;
  height: 400px;
}
header .exterior {
  width: 100%;
  height: 600px;
  background: #111111;
  padding: 250px 0;
  display: flex;
}
header .exterior .txt {
  width: 20%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header .exterior .txt::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(81, 81, 81);
}
header .exterior .txt p:first-child {
  color: #c36f51;
  font-weight: bold;
  margin-bottom: 50px;
}
header .exterior .txt p:nth-child(2) {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}
header .exterior .txt p:nth-child(3) {
  color: #ccc;
  line-height: 30px;
}
section .pictures1 {
  width: 100%;
  height: 1000px;
  display: flex;
  background: #111111;
}
section .pictures1 .desc1 {
  width: 33.2%;
  display: flex;
  flex-direction: column;
}
section .pictures1 .desc1 p:first-child {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
section .pictures1 .desc1 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-1.jpg) center/cover;
}
section .pictures1 .desc1 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures1 .desc1 p:nth-child(2) {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures1 .desc1 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-2.jpg) center/cover;
}
section .pictures1 .desc1 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures1 .desc2 {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
section .pictures1 .desc2 p:first-child {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
section .pictures1 .desc2 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-3.jpg) center/cover;
}
section .pictures1 .desc2 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures1 .desc2 p:nth-child(2) {
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures1 .desc2 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-4.jpg) center/cover;
}
section .pictures1 .desc2 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures1 .desc3 {
  width: 33.2%;
  display: flex;
  flex-direction: column;
}
section .pictures1 .desc3 p:first-child {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
section .pictures1 .desc3 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-5.jpg) center/cover;
}
section .pictures1 .desc3 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures1 .desc3 p:nth-child(2) {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures1 .desc3 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures1-6.jpg) center/cover;
}
section .pictures1 .desc3 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures1 > div > p {
  position: relative;
  cursor: pointer;
}
section .pictures1 > div > p::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
}
section .pictures1 > div > p:hover::after {
  background: rgba(0, 0, 0, 0.7);
}
section .pictures1 > div p {
  position: relative;
}
section .pictures1 > div p img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
section .pictures1 > div p:hover img {
  opacity: 1;
}
section .build {
  width: 100%;
  height: 400px;
  background: #111111;
  color: #fff;
}
section .build .txt {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;

  align-items: center;
}
section .build .txt p {
  font-size: 30px;
  margin-right: 100px;
}
section .build .txt ul {
  display: flex;
}
section .build .txt ul li {
  margin-right: 40px;
}
section .build .txt ul li a {
  color: #fff;
  position: relative;
}
section .build .txt ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
}
section .build .txt ul li a:hover::before {
  width: 0;
}
section .build .txt ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
  transition: 0.5s;
}
section .build .txt ul li a:hover::after {
  width: 100%;
}
section .interior {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin: 200px 0;
}
section .interior .txt {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  left: -40px;
}
section .interior .txt::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ccc;
}
section .interior .txt > p:first-child {
  color: #c36f51;
  font-weight: bold;
  margin-bottom: 50px;
}
section .interior .txt > p:nth-child(2) {
  font-size: 35px;
  font-weight: 100;
  padding: 30px 0;
}
section .interior .txt > p:last-child {
  line-height: 30px;
}
section .interior .pic {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
section .pictures2 {
  width: 100%;
  height: 1000px;
  display: flex;
}
section .pictures2 .desc1 {
  width: 33.2%;
  display: flex;
  flex-direction: column;
}
section .pictures2 .desc1 p:first-child {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
section .pictures2 .desc1 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-1.jpg) center/cover;
}
section .pictures2 .desc1 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures2 .desc1 p:nth-child(2) {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures2 .desc1 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-2.jpg) center/cover;
}
section .pictures2 .desc1 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures2 .desc2 {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
section .pictures2 .desc2 p:first-child {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
section .pictures2 .desc2 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-3.jpg) center/cover;
}
section .pictures2 .desc2 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures2 .desc2 p:nth-child(2) {
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures2 .desc2 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-4.jpg) center/cover;
}
section .pictures2 .desc2 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures2 .desc3 {
  width: 33.2%;
  display: flex;
  flex-direction: column;
}
section .pictures2 .desc3 p:first-child {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
section .pictures2 .desc3 p:first-child span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-5.jpg) center/cover;
}
section .pictures2 .desc3 p:first-child:hover span {
  transform: scale(1.2);
}
section .pictures2 .desc3 p:nth-child(2) {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 10px 0;
}
section .pictures2 .desc3 p:nth-child(2) span {
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: url(../images/genesis-pictures2-6.jpg) center/cover;
}
section .pictures2 .desc3 p:nth-child(2):hover span {
  transform: scale(1.2);
}
section .pictures2 > div > p {
  position: relative;
  cursor: pointer;
}
section .pictures2 > div > p::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
}
section .pictures2 > div > p:hover::after {
  background: rgba(0, 0, 0, 0.7);
}
section .pictures2 > div p {
  position: relative;
}
section .pictures2 > div p img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
section .pictures2 > div p:hover img {
  opacity: 1;
}
footer .more {
  width: 100%;
  height: 300px;
  background: #f8f8f8;
  margin: 20px 0;
}
footer .more a {
  color: #000;
}
footer .more .txt {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .more .txt p {
  font-size: 30px;
  font-weight: lighter;
}
footer .more ul {
  display: flex;
  margin: 0 70px;
}
footer .more ul li {
  margin: 0 20px;
}
footer .more ul li a {
  position: relative;
}
footer .more ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -4px;
}
footer .more ul li a:hover::before {
  content: "";
  width: 0;
}
footer .more ul li a::after {
  content: "";
  width: 0;
  height: 1px;
}
footer .more ul li a:hover:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}
footer .sedan {
  width: 100%;
  height: 400px;
  background-color: #111111;
}
footer .sedan .icon {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
footer .sedan .icon ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .sedan .icon ul li {
  display: flex;
  flex-direction: column;
}
footer .sedan .icon ul li p {
  margin-top: 20px;
}
footer .design {
  width: 100%;
  height: 350px;
  display: flex;
}
footer .design ul {
  padding: 50px;
  position: relative;
  z-index: 1;
}
footer .design ul li:first-child {
  color: #c36f51;
  margin-bottom: 10px;
}
footer .design ul li:nth-child(2) {
  color: #fff;
  font-size: 40px;
}
footer .design div {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
}
footer .design div:hover {
  background-size: 110%;
}
footer .design div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
}
footer .design div:hover::before {
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
}
footer .design .box1 {
  background: url(../images/genesis_design.jpg) center/100%;
  width: 50%;
}
footer .design .box2 {
  background: url(../images/genesis_technology.jpg) center/100%;
  width: 50%;
}
footer .contents {
  width: 100%;
  background: #111111;
  padding: 100px 0;
  color: #fff;
}
footer .contents p {
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
}
footer .contents .desc {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .contents .desc ul {
  width: 31%;
  overflow: hidden;
}
footer .contents .desc img {
  width: 500px;
}
footer .contents .desc ul li {
  margin: 15px 0;
}
footer .contents .desc ul li:nth-child(2) {
  font-weight: bold;
}
footer .contents .desc ul li:nth-child(3) {
  color: #ccc;
}
footer .contents .desc a {
  color: #fff;
  position: relative;
}
footer .contents .desc a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #fff;
}
footer .contents .desc a:hover::before {
  width: 0;
}
footer .contents .desc a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #fff;
  transition: 0.5s;
}
footer .contents .desc a:hover:after {
  width: 100%;
}
footer .connect {
  width: 100%;
  height: 100px;
  background: #111111;
  color: #fff;
  padding: 150px 0;
}
footer .connect .desc {
  width: 800px;
  margin: 0 auto;
}
footer .connect .desc p {
  text-align: center;
  font-size: 35px;
}
footer .connect .desc ul {
  width: 300px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
footer .connect .desc ul i {
  font-size: 45px;
}
footer .share {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(44, 44, 44);
  background: #000;
}
footer .share .desc {
  width: 1600px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
footer .share .desc ul {
  display: flex;
}
footer .share .left li {
  margin-right: 20px;
}
footer .share .right li {
  margin-left: 10px;
}
footer .share ul li i {
  margin-right: 20px;
  color: #808080;
}
footer .share ul li i:hover {
  color: #fff;
}
footer .share ul li img {
  width: 12px;
}
footer .bg {
  width: 100%;
  background: #000;
}
footer .notice {
  width: 1600px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
footer .notice ul {
  display: flex;
}
footer .notice ul li img {
  width: 10px;
}
footer .notice ul li:nth-child(2) img {
  width: 12px;
}
footer .notice .right li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
footer .category_bg {
  background: #111111;
}
footer .category {
  width: 1600px;
  color: #fff;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .category ul li:first-child {
  margin-bottom: 22px;
  font-size: 18px;
}
footer .category ul li {
  margin-bottom: 15px;
  font-size: 14px;
}
footer .category ul li a:hover {
  color: #fff;
}
footer .category .desc {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer .category .desc ul {
  flex-shrink: 0;
  width: 25%;
  height: 400px;
}
footer .category .desc ul:last-child li a {
  color: #fff;
}
footer .sitemap_bg {
  background: #000;
}
footer .sitemap {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  font-size: 14px;
}
footer .sitemap .txt {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer .sitemap .txt li a {
  position: relative;
}
footer .sitemap .txt li a:hover {
  color: #fff;
}
footer .sitemap .txt li:nth-child(3) a {
  color: #c36f51;
}
footer .sitemap .txt li a::after {
  content: "";
  width: 1px;
  height: 90%;
  background: #151515;
  position: absolute;
  right: -14px;
  top: 3px;
}
footer .sitemap .txt li:last-child a::after {
  display: none;
}
footer .sitemap .sns {
  width: 8%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
footer .sitemap .sns li {
  width: 10%;
  font-size: 25px;
}
footer .worldwide_bg {
  background: #000;
  border-top: 1px solid rgb(44, 44, 44);
  border-bottom: 1px solid rgb(44, 44, 44);
}
footer .worldwide {
  width: 1600px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .worldwide .txt {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 14px;
}
footer .worldwide .txt li:hover a {
  color: #fff;
}

footer .worldwide .txt img {
  width: 14px;
  margin-right: 5px;
}
footer .worldwide .box {
  width: 9%;
  display: flex;
  justify-content: center;
}
footer .worldwide .box li a {
  padding: 8px 30px;
  display: block;
  background-color: #111111;
}
footer .worldwide .box li:nth-child(2) a {
  background-color: #fff;
  color: #000;
}
footer .copyright_bg {
  background: #000;
}
footer .copyright {
  width: 1600px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .copyright ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bbb;
}
footer .copyright ul li {
  margin-bottom: 5px;
}
footer .copyright ul li:first-child {
  margin-bottom: 20px;
}
footer .copyright ul li img {
  width: 140px;
}
footer .copyright p {
  margin: 30px 0;
}
footer .chat {
  position: relative;
}
footer .chat img {
  position: fixed;
  right: 60px;
  bottom: 30px;
}
#sidebar {
  position: absolute;
  width: 100%;
  height: 1130px;
  background: #111111;
  left: 0;
  top: -1500px;
  z-index: 90;
  transition: 0.5s;
  opacity: 1;
  padding: 30px 0;
}
#sidebar p {
  text-align: center;
}
#sidebar .search {
  margin: 30px auto;
  text-align: center;
}
#sidebar .search input {
  display: inline-block;
  width: 700px;
  line-height: 60px;
  text-align: center;
  border: none;
  background: #111111;
  border-bottom: 1px solid #aaa;
  font-size: 30px;
  font-weight: 500;
}
#sidebar .search img {
  width: 30px;
  position: relative;
  left: -40px;
  top: 5px;
  cursor: pointer;
}
#sidebar .txt {
  width: 1400px;
  margin: 0 auto;
  font-size: 15px;
}
#sidebar .txt .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px 0;
}
#sidebar .txt .inner ul {
  flex-shrink: 0;
  width: 25%;
  height: 400px;
  margin: 20px 0;
}
#sidebar .txt .inner ul {
  color: #fff;
}
#sidebar .txt .inner ul li {
  margin: 10px 0;
}
#sidebar .txt .inner ul li:hover a {
  color: #fff;
}
#sidebar .txt .inner ul li:nth-child(1) {
  font-size: 19px;
  margin-bottom: 20px;
}
#sidebar .txt .inner ul:last-child a {
  color: #fff;
}
#sidebar .bottom {
  width: 1400px;
  height: 50px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#sidebar .bottom .txt {
  line-height: 35px;
}
#sidebar .bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: -30px;
  background: #1e1e1e;
}
#sidebar .bottom .txt img {
  width: 16px;
  margin-right: 10px;
  top: 3px;
  position: relative;
}
#sidebar .bottom .txt ul {
  width: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#sidebar .bottom .eng {
  width: 13%;
  height: 50px;
}
#sidebar .bottom .eng ul {
  display: flex;
}
#sidebar .bottom .eng li a {
  padding: 8px 30px;
  display: block;
  background-color: #202020;
  border-radius: 4px;
}
#sidebar .bottom .eng li:nth-child(2) a {
  background-color: #fff;
  color: #000;
}
