@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: RobotoMono;
  src: url(../webfonts/RobotoMono-Regular.woff) format("woff");
}
@font-face {
  font-family: Lora;
  src: url(../webfonts/Lora-Regular.woff) format("woff");
}
@font-face {
  font-family: Syne;
  src: url(../webfonts/Syne-Regular.woff) format("woff");
}
@font-face {
  font-family: Pretendard;
  src: url(../webfonts/Pretendard-Regular.otf) format("opentype"); /* otf는 무조건 "opentype"으로 포맷 적어줘야함!!! otf아님! */
}
@font-face {
  font-family: Satoshi;
  src: url(../webfonts/Satoshi-Regular.woff) format("woff");
}
body {
  font-family: Satoshi;
  background: #f5eee8;
  color: #191919;
}

#wrap {
  border: 1px solid #000;
  margin: 20px;
  padding: 30px 40px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
  background: #f5eee8;

  .logo {
    width: 139px;
    height: 50px;
  }

  .util {
    display: flex;
    align-items: center;

    nav {
      font-family: RobotoMono;
      ul {
        position: relative;
        display: flex;
        li {
          margin-right: 40px;
          line-height: 50px;
          a {
            position: relative;
            display: block;
            color: #191919;
            &:after {
              position: absolute;
              left: 0;
              bottom: 12px;
              content: "";
              width: 100%;
              height: 1px;
              background: #191919;
              transform: scaleX(0);
            }
          }
        }
        li:nth-child(4) {
          margin-right: 30px;
        }
        li:hover a:after {
          transform: scaleX(1);
          transition: 0.5s;
        }
        li:last-child:after {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 1px;
          height: 50%;
          background: #191919;
        }
      }
    }

    .sns {
      font-family: RobotoMono;
      margin-left: 30px;
      p {
        line-height: 50px;
        a {
          display: inline-block;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          border: 1px solid #191919;
          font-size: 14px;
          color: #191919;
          text-align: center;
          line-height: 34px;
          &:hover {
            background: #191919;
            color: #fff;
          }
        }
      }
    }
  }
}

/* visual */
.visual {
  border-bottom: 1px solid #000;

  .slogan {
    height: 450px;
    margin: 100px 0 80px;
    position: relative;

    .serif {
      position: absolute;
      font-family: Lora;
      font-size: 80px;
      font-weight: 200;
      &:first-child {
        left: 15%;
      }
      &:nth-child(3) {
        top: 45%;
        left: 19%;
      }
    }

    .s_serif {
      position: absolute;
      font-family: Syne;
      font-size: 90px;
      font-weight: 800;
      //color: #362216;
      &:nth-child(2) {
        top: 20%;
        left: 48%;
      }
      &:nth-child(4) {
        top: 70%;
        left: 29%;
      }
    }
  }
}

/* services */
.services {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;

  h5 {
    width: 30%;
    font-family: RobotoMono;
    font-size: 18px;
    border-right: 1px solid #191919;
  }

  .contents {
    width: 70%;

    ul {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      border-bottom: 1px solid #000;
      li {
        width: 50%;
      }
      li:first-child {
        position: relative;
        margin-right: 60px;
      }
      li:first-child:after {
        position: absolute;
        right: -30px;
        top: 0;
        content: "";
        width: 1px;
        height: 100%;
        background: #191919;
      }
    }

    .con2 {
      margin: 50px auto 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .text {
      display: flex;
      img {
        width: 60px;
        height: 60px;
        transition: 0.5s;
      }
      .desc {
        margin-left: 20px;
        h4 {
          font-family: Syne;
          font-size: 30px;
          font-weight: 200;
        }
        p {
          font-family: Pretendard;
          font-size: 17px;
          line-height: 30px;
          margin: 10px 0;
          color: #474747;
          word-break: keep-all;
        }
      }
    }
    .text:hover img {
      transform: rotateY(180deg);
    }
  }
}

/* skills */
.skills {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;

  h5 {
    width: 30%;
    font-family: RobotoMono;
    font-size: 18px;
    border-right: 1px solid #191919;
  }

  ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 50px;
      img {
        width: 70px;
        vertical-align: middle;
      }
    }
  }
}

/* portfolio */
.portfolio {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;

  .text {
    position: sticky;
    top: 0;
    left: 0;
    width: 30%;
    border-right: 1px solid #191919;
    h5 {
      font-family: Syne;
      font-size: 60px;
    }
    p {
      font-family: Pretendard;
      font-size: 17px;
      line-height: 30px;
      margin: 20px 40px 0 0;
    }
  }

  .contents {
    width: 70%;
    padding-left: 2%;
    box-sizing: border-box;
    .con {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        position: relative;
        width: 50%;
        margin-bottom: 35px;
        &:nth-child(odd):after {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          width: 1px;
          height: 88%;
          background: #191919;
        }

        a {
          display: block;
          width: 88%;
          margin: 0 auto;
          color: #191919;
          .pic {
            text-align: center;
            width: 100%;
            height: 306px;
            border-radius: 5px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s;
            }
          }
          .desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 0;
            h5 {
              font-family: Syne;
              font-size: 24px;
              font-weight: 200;
              .kor {
                font-family: Pretendard;
                font-size: 22px;
                letter-spacing: -1px;
              }
            }
            p {
              font-family: RobotoMono;
              font-size: 14px;
            }
          }
        }
        a:hover img {
          transform: scale(1.07);
        }
      }
    }
  }
}

/* popup */
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;

  .pop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3% 20%;
    box-sizing: border-box;
    word-break: keep-all;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    z-index: 4;

    .btn_close {
      position: absolute;
      right: 20px;
      top: 20px;
      img {
        width: 30px;
      }
    }
    .title_box {
      h5 {
        font-family: Syne;
        font-size: 60px;
        .kor {
          font-family: Pretendard;
          font-size: 54px;
          letter-spacing: -1px;
        }
      }
      p {
        font-family: RobotoMono;
        font-size: 16px;
        margin: 10px 0 30px;
      }
    }
    .pic {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
      }
    }
    .desc {
      font-family: Pretendard;
      text-align: center;
      color: #474747;
      font-weight: 200;
      p:first-child {
        margin: 30px 0;
        line-height: 30px;
      }
      p:last-child {
        span a {
          color: rgb(37, 114, 187);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
#popup:target {
  display: block;
}

/* contact me */
.contact {
  border-bottom: 1px solid #000;
  h5 {
    font-family: RobotoMono;
    font-size: 18px;
  }
  .contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0;

    h2 {
      font-family: Lora;
      font-size: 140px;
      font-weight: 200;
      line-height: 140px;
      span {
        text-shadow: -1px 0 #191919, 0 1px #191919, 1px 0 #191919,
          0 -1px #191919;
        color: #f5eee8;
      }
      .kor {
        font-family: Pretendard;
        font-size: 18px;
        letter-spacing: -1px;
        text-shadow: none;
        color: #191919;
        line-height: 40px;
      }
    }

    .info {
      .pic {
        width: 300px;
        height: 300px;
        //border: 1px solid #191919;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      ul {
        text-align: center;
        font-family: Syne;
        font-size: 18px;
        margin-top: 20px;
        line-height: 30px;
        .name {
          font-weight: 600;
        }
        .phone {
          font-size: 20px;
        }
      }
    }
  }
}

/* footer */
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-top: 20px;
    color: #474747;
  }
  .sns a {
    font-size: 20px;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #191919;
    font-size: 14px;
    color: #191919;
    text-align: center;
    line-height: 34px;
    margin-top: 5px;
    &:hover {
      background: #191919;
      color: #fff;
    }
  }
  .now {
    position: relative;
    &:before {
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      background: #51c200;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      z-index: 1;
    }
    &:after {
      position: absolute;
      left: -25px;
      content: "";
      background: #51c20052;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      animation: move 0.7s infinite;
    }
    @keyframes move {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

/* [공통] btn_top 상단 바로가기 버튼 */
.btn_top {
  position: fixed;
  right: 39px;
  bottom: 130px;
  opacity: 0;
}
.btn_top a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.btn_top a::before {
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-40%, -40%);
  content: "";
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  z-index: 2;
}
.btn_top a:hover {
  background: #000;
}

/* 반응형 */
@media screen and (max-width: 1600px) {
  /* visual */
  .visual {
    .slogan {
      .serif {
        font-size: 80px;
        &:first-child {
          left: 11%;
        }
        &:nth-child(3) {
          top: 45%;
          left: 15%;
        }
      }

      .s_serif {
        font-size: 90px;
        &:nth-child(2) {
          top: 20%;
          left: 44%;
        }
        &:nth-child(4) {
          top: 70%;
          left: 25%;
        }
      }
    }
  }

  /* contact me */
  .contact {
    .contents {
      h2 {
        font-size: 100px;
        line-height: 100px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  /* visual */
  .visual {
    .slogan {
      .serif {
        font-size: 75px;
        &:first-child {
          left: 6%;
        }
        &:nth-child(3) {
          left: 10%;
        }
      }

      .s_serif {
        font-size: 85px;
        &:nth-child(2) {
          left: 39%;
        }
        &:nth-child(4) {
          left: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  /* visual */
  .visual {
    .slogan {
      .serif {
        font-size: 60px;
      }

      .s_serif {
        font-size: 80px;
        &:nth-child(4) {
          top: 67%;
        }
      }
    }
  }

  /* popup */
  #popup {
    .pop {
      padding: 3% 20%;

      .title_box {
        h5 {
          font-size: 50px;
          .kor {
            font-size: 44px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  /* contact me */
  .contact {
    .contents {
      h2 {
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
}

@media screen and (max-width: 1215px) {
  /* services */
  .services {
    h5 {
      width: 15%;
    }
    .contents {
      width: 85%;
    }
  }

  /* skills */
  .skills {
    h5 {
      width: 15%;
    }
    ul {
      width: 85%;
    }
  }

  /* portfolio */
  .portfolio {
    .text {
      width: 25%;
      h5 {
        font-size: 35px;
      }
      p {
        font-size: 16px;
        margin: 20px 30px 0 0;
      }
    }

    .contents {
      width: 75%;
    }
  }
  .portfolio .contents .con li a .pic {
    height: 200px;
  }
  .portfolio .contents .con li a .desc {
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 1080px) {
  /* contact me */
  .contact {
    .contents {
      flex-direction: column;
      margin: 50px 0;
      h2 {
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  /* visual */
  .visual {
    .slogan {
      height: 400px;
      margin: 50px 0 0;

      .serif {
        &:nth-child(3) {
          top: 40%;
          left: 6%;
        }
      }

      .s_serif {
        font-size: 60px;
        &:nth-child(4) {
          top: 62%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  /* visual */
  .visual {
    .slogan {
      height: auto;
      margin: 50px 0;
      text-align: center;

      .serif {
        position: static;
      }

      .s_serif {
        position: static;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  /* skills */
  .skills ul li img {
    width: 50px;
  }

  /* portfolio */
  .portfolio {
    .text {
      width: 30%;
      h5 {
        font-size: 30px;
      }
    }

    .contents {
      padding-left: 5%;
      .con li {
        width: 100%;
        &:nth-child(odd):after {
          width: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  /* services */
  .services {
    .contents .text .desc h4 {
      font-size: 22px;
    }
    .contents .text .desc p {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 840px) {
  /* services */
  .services {
    flex-direction: column;

    h5 {
      width: 100%;
      text-align: center;
      border-right: 0;
      margin-bottom: 40px;
    }

    .contents {
      width: 100%;

      ul {
        width: 100%;
        padding-bottom: 30px;
      }

      .text {
        img {
          width: 40px;
        }
        .desc {
          margin-left: 10px;
        }
      }
    }
  }

  /* skills */
  .skills {
    flex-direction: column;

    h5 {
      width: 100%;
      text-align: center;
      border-right: 0;
      margin-bottom: 40px;
    }
    ul {
      width: 100%;

      li {
        margin-left: 0;
      }
    }
  }

  /* portfolio */
  .portfolio {
    flex-direction: column;
    padding: 0;

    .text {
      position: static;
      width: 100%;
      text-align: center;
      border-right: 0;
      margin-bottom: 30px;
      h5 {
        font-size: 28px;
      }
    }

    .contents {
      width: 100%;
      padding-left: 0;
      .con li:last-child {
        margin-bottom: 10px;
      }
      .con li a {
        width: 95%;
        .pic {
          height: 280px;
        }
      }
    }
  }

  /* popup */
  #popup {
    .pop {
      padding: 3% 14%;
      .title_box {
        h5 {
          font-size: 40px;
          .kor {
            font-size: 34px;
          }
        }
        p {
          font-size: 15px;
        }
      }
    }
  }

  /* contact me */
  .contact {
    h5 {
      text-align: center;
    }
    .contents {
      margin: 40px 0 50px;
    }
  }
}

@media screen and (max-width: 850px) {
  #wrap {
    padding: 30px;
  }

  /* header */
  header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    .util {
      width: 100%;

      margin-top: 24px;

      nav {
        width: 100%;
        ul {
          li {
            margin-right: 0;
            width: 25%;
            text-align: center;
          }
          li:nth-child(4) {
            margin-right: 0;
          }
          li:last-child:after {
            width: 0;
          }
          li:hover a:after {
            transform: scaleX(0);
          }
        }
      }

      .sns {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  /* services */
  .services {
    margin: 40px auto 50px;
    padding-bottom: 0;
  }

  .services .contents ul {
    flex-direction: column;
    padding-bottom: 0;

    li {
      width: 100%;
    }
    li:nth-child(odd) {
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
    }
    li:first-child:after {
      width: 0;
    }
  }
  .services .contents .con2 {
    margin: 20px auto 0;
  }
  .services .contents ul li {
    margin-bottom: 20px;
  }
  .services .contents .text .desc {
    margin-left: 20px;
  }

  /* popup */
  #popup {
    .pop {
      .title_box {
        h5 {
          font-size: 30px;
          .kor {
            font-size: 26px;
          }
        }
      }
    }
  }

  /* footer */
  footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  /* header */
  header .util ul li a {
    font-size: 14px;
  }
  header .util ul li a span {
    display: none;
  }

  /* visual */
  .visual {
    .slogan {
      .serif {
        font-size: 40px;
      }

      .s_serif {
        font-size: 50px;
      }
    }
  }

  /* contact me */
  .contact {
    .contents {
      h2 {
        font-size: 60px;
        line-height: 60px;
        .kor {
          font-size: 16px;
        }
      }
      .info {
        .pic {
          width: 240px;
          height: 240px;
        }
      }
    }
  }

  /* footer */
  footer {
    .sns {
      display: none;
    }
  }

  /* [공통] btn_top 상단 바로가기 버튼 */
  .btn_top {
    bottom: 110px;
  }

  .btn_top a {
    width: 36px;
    height: 36px;
  }
}
