@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.head {
  width: 100%;
  height: 100vh;
  background: url(../images/visual_main.gif) center/cover fixed,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  position: relative;
}
.nav {
  width: 100%;
  height: 60px;
  padding: 20px auto;
  border-bottom: 1px solid #fff;
}
.head ul {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.head ul li a {
  text-align: center;
  line-height: 60px;
  color: #fff;
}
.head ul > li a img {
  width: 80px;
  object-fit: cover;
  vertical-align: middle;
}

.head ul li:hover a {
  font-weight: 800;
}

.head .phrase {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.head .phrase h1 {
  color: #fff;
  margin-bottom: 20px;
}
.head .appstore a img {
  width: 200px;
  height: 60px;
  object-fit: contain;
  border: 1px solid#fff;
  margin-right: 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.head .phrase img:hover {
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

.head > article.side_in {
  height: 285px;
  position: fixed;
  right: 20px;
  bottom: 150px;
  display: flex;
  z-index: 10;
}
.side_QR {
  width: 180px;
  height: 285px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  color: #333;
  position: relative;
  right: 20px;
}

.QR_info {
  width: 90%;
  margin: 20px auto;
}
.QR_info p {
  margin-top: 10px;
}
.QR_info span {
  font-weight: 800;
}
.QR_info img {
  margin-top: -10px;
  width: 142px;
  height: 142px;
  object-fit: cover;
}
.side_QR::after {
  position: absolute;
  right: -10px;
  top: 130px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid#fff;
  border-bottom: 10px solid transparent;
}
.Xbox {
  cursor: pointer;
}
.Xbox img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
article .side_btn {
  margin: 30px 0;
  position: relative;
  right: 0;
}
article .side_btn a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  position: relative;
}
article .side_btn a:first-child {
  background: yellow;
}
article .side_btn a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  background: #000;
  padding: 60px 0;
}
.foot {
  width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  line-spacing: 3px;
}
.foot .foot_left {
  width: 45%;
  margin: 0 auto;
  color: #fff;
}
.foot .foot_left ul {
  display: flex;
  justify-content: center;
}
.foot .foot_left ul li {
  font-weight: 500;
}
.foot .foot_left ul li:first-child {
  width: 190px;
}
.foot .foot_left ul li > span {
  font-size: 18px;
  font-weight: 800;
}

.foot .foot_left ul > li > a img {
  width: 150px;
  object-fit: cover;
  border: 1px solid#fff;
  margin-top: 10px;
  cursor: pointer;
}

.foot .foot_left ul li a {
  font-size: 14px;
  font-weight: 800;
  color: #fff;
}
.foot .foot_left ul li:nth-child(2) a img {
  width: 16px;
  border: none;
  object-fit: cover;
}
.foot .foot_left ul li:nth-child(2) a:last-child:hover {
  color: #a7a7a7;
}
.foot .foot_right {
  width: 55%;
  color: #a7a7a7;
}
.foot .foot_right ul {
  display: flex;
  justify-content: space-evenly;
}

.foot .foot_right ul li {
  font-size: 14px;
}
.foot .foot_right ul > li ul {
  width: 100%;
  display: flex;
  justify-content: start;
}
.foot .foot_right ul > li ul > li > a img {
  margin-top: 30px;
  margin-right: 10px;
}
.foot .foot_right ul li:nth-child(2) a {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}
.foot .foot_right ul li:nth-child(2) a:first-child {
  color: #ff0;
}
