@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url(../webfont/OpenSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../webfont/NanumSquareRoundOTFR.otf) format("otf");
}
#wrap {
  min-width: 1280px;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "OpenSans", "NanumSquareRound", Arial, sans-serif;
  background: #184965;
  text-transform: uppercase;
}

.home {
  width: 1280px;
  margin: 100px auto;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.home > img {
  width: 960px;
}
.home > img:nth-child(2) {
  width: 960px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.home:hover > img:nth-child(1) {
  opacity: 0;
}
.home:hover > img:nth-child(2) {
  display: block;
}
.star {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.star a > img {
  width: 80px;
}
.star a > p {
  font-size: 32px;
  color: yellow;
  text-transform: capitalize;
  animation: starmove 5s infinite linear;
}
@keyframes starmove {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
